<thead>
  <tr>
    <th>ID</th>
    <th>ALLERGÉN NÉV</th>
    <th>MÜVELET</th>
  </tr>
</thead>
<% for (let i = 0; i < allergen.length; i++) { %>
<tbody>
  <tr>
    <td><%= allergen[i].id %></td>
    <td><%= allergen[i].AllergenTranslations[0].name %></td>
    <td>
      <a
        class="btn btn-success btn-sm"
        href="/admin/edit-allergen/<%= allergen[i].id %>?edit=true"
      >
        <i class="fas fa-pencil-alt"> </i>
        <%= lingua.button_edit %>
      </a>
    </td>
  </tr>
</tbody>
<% } %>
