<thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">STATUS</th>
    <th scope="col">EDIT</th>
  </tr>
</thead>
<% if (allergen.length > 0) { %> <% for (let i = 0; i < allergen.length; i++) {
%>
<tbody>
  <th scope="row"><%= allergen[i].id %></th>
  <td><%= allergen[i].AllergenTranslations[0].name %></td>

  <td><span class="badge badge-success">AKTIV</span></td>

  <td>
    <a
      href="/admin/edit-allergen/<%= allergen[i].id %>?edit=true"
      class="btn grid-btn mt-0 btn-sm btn-secondary"
      ><%= lingua.product_action_edit %></a
    >
  </td>
</tbody>
<% } %> <% } else { %>
<h1>No Products Found!</h1>
<% } %>
