<%- include('../includes/head.ejs') %>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
 <%- include('../includes/navigation.ejs') %> 
 


  <main class="body-content">  
    <%- include('../includes/navigation-bar.ejs') %>
    <div class="ms-content-wrapper">
      <div class="ms-profile-overview no-img-var">
       
        <ul class="ms-profile-navigation nav nav-tabs tabs-bordered" role="tablist">
          <li role="presentation"><a href="#tab1" aria-controls="tab1" class="active show" role="tab" data-toggle="tab"> Index </a></li>
          <li role="presentation"><a href="#"> Category </a></li>
          <li role="presentation"><a href="@"> Extras </a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane" id="tab1">
          </div>
          <div class="tab-pane" id="tab2">
          </div>
          <div class="tab-pane" id="tab3">
          </div>
        </div>
      </div>
     
    </div>
  </main>
<%- include('../includes/end.ejs')
  %>
</body>