<script src="/js/main.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>
   
<script src="/js/bootstrap.min.js"></script>
<script src="/js/perfect-scrollbar.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<!-- Global Required Scripts End -->

<!-- Page Specific Scripts Start -->
<script src="/js/Chart.bundle.min.js"></script>
<!-- Page Specific Scripts End -->

<!-- Page Specific Scripts Finish -->
<script src="/js/datatables.min.js"></script>
<script src="/js/data-tables.js"></script>

<!-- Costic core JavaScript -->
<script src="/js/framework.js"></script>

<!-- Settings -->
<script src="/js/settings.js"></script>
</body>

</html>