<script src="/js/framework.js"></script>
<!-- <html oncontextmenu="return false"> 
</html>
<script>
$(document).keydown(function(e){ 
  if(e.which === 123){ 
     return false; 
  } 
}); 
</script> -->

<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2020-<script>document.write(new Date().getFullYear())</script> Minden jog fenntartva:
        Foodnet ~ v1.0
    </div>
  </footer>

</body>
</html>