<link rel="stylesheet" href="/css/preloader.css" />

<div id="wrapper">
  <div class="burger">
    <div class="topBun ingredient"></div>
    <div class="tomato ingredient"></div>
    <div class="cheese ingredient"></div>
    <div class="lettuce ingredient"></div>
    <div class="patty ingredient"></div>
    <div class="bottomBun ingredient"></div>
  </div>
</div>
