@font-face {
  font-family: "montserratextrabold";
  src: url("/font/montserrat-extrabold.woff2") format("woff2"),
    url("/font/montserrat-extrabold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bebas_neuebold";
  src: url("/font/bebasneue_bold.woff2") format("woff2"),
    url("/font/bebasneue_bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bebas_neueregular";
  src: url("/font/bebasneue_regular.woff2") format("woff2"),
    url("/font/bebasneue_regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserratsemibold";
  src: url("/font/montserrat-semibold.woff2") format("woff2"),
    url("/font/montserrat-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.text-yellow {
  color: #fe8f01;
}

.black-bg {
  background: #1c1c1c no-repeat center bottom fixed;
}

h2 {
  font-size: 30px;
  font-family: "montserratextrabold";
  letter-spacing: 3px;
}

.footer-social {
  margin: 0px;
  padding: 0px;
  color: #fff;
  list-style-type: none;
}
.footer-social li {
  margin-bottom: 10px;
}
.footer-social li a {
  color: #fff;
  font-family: "montserratsemibold";
}
.footer-social li i {
  background: #fff;
  width: 25px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  border-radius: 50%;
  color: #1c1c1c;
}

.yellow-graybx {
  text-align: center;
}

.normal-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
/* css for banner-section Ends */

.normal-list a {
  color: #fff;
  font-family: "montserratsemibold";
}
.footer-bottom {
  padding-top: 55px;
}

@media (max-width: 440px) {
  .footer-body h2 {
    padding-bottom: 15px !important;
    padding-top: 15px;
    font-size: 15px;
  }
  .footer-bottom {
    padding-top: 30px;
  }
  .footer-bottom p {
    font-size: 16px !important;
  }
  footer {
    padding: 30px 0px 15px !important;
  }
}

footer {
  padding: 50px 0px 15px;
}

.footer-body h2 {
  padding-bottom: 60px;
  margin: 0px;
}
.footer-bottom p {
  font-size: 20px;
}

/* css for footer Ends */

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 839px !important;
  }
}

/* Ez kell csak */
@media only screen and (max-width: 768px) {
  .tabbx a {
    margin-right: 10px;
  }
  .tabbx a img {
    width: 20px;
  }
  .wh-radius {
    padding: 2px 13px;
  }
  .menulist {
    padding-left: 13px !important;
    max-width: 93% !important;
    left: 49px !important;
  }

  .menulist-ri {
    padding-left: 13px !important;
    max-width: 93% !important;
    right: 58px !important;
  }
  .wh-radius li:first-child a::after {
    background: #000;
    width: 1px;
    height: 85%;
    content: "";
    display: inline-block;
    position: absolute;
    right: -6px;
    top: 0px;
    bottom: 0;
  }
  .tab-main {
    margin: 0px auto 30px;
  }
  .tab-main .row {
    width: 97%;
    margin: auto;
  }
  .tab-main .col-10 {
    padding: 0px 67px;
  }
  .tab-main .col-1 {
    padding: 0px;
  }

  .tab-main .col-1 .yellow-graybx {
    padding: 0px 5px;
  }

  .search-box img {
    max-width: 75%;
  }

  .navbar-collapse {
    background: #fe8f01 !important;
  }
  .main .col-md-1 {
    padding: 15px;
  }
  .col-md-1 img {
    max-width: 6% !important;
  }
  .navbar-collapse .text-yellow {
    color: #fff;
  }

  p {
    font-size: 24px;
    line-height: 36px;
  }

  p br {
    display: none;
  }
  h2 {
    font-size: 25px;
  }
  footer {
    text-align: center;
  }
  svg {
    position: relative;
  }

  .expand-link {
    margin-top: 25px;
    display: inline-block;
  }
  .navbar-light .navbar-toggler {
    background: #fff;
  }
}

@media only screen and (max-width: 479px) {
  footer {
    text-align: center;
  }
}
