.header-title {
  color: #fd8f00;
}

.burger-size {
  width: 310px;
  height: auto;
}

.partners {
  color: white;
}

.orange-bck {
  background-color: #fd8f00;
}

.partners-ph {
  background-color: white;
  max-width: 200px;
  max-height: 200px;
  border-radius: 15px;
}
.partners-info {
  background-color: red;
  border-radius: 15px;
  max-width: 200px;
  max-height: 200px;
}

.header-text {
  padding-left: 101px;
  margin-top: 50px;
}

.btn-warning {
  background-color: #fd8f00 !important;
  color: black !important;
  border: none;
  outline: none;
}

.btn:focus {
  outline: 0 !important;
}
.header-p {
  color: white;
}

#home-section .home-inner {
  padding-top: 100px !important;
}

#home-section {
  background-image: url("/images/home-first.jpg");
  /* background-position: center;
    background-size: cover; */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

.animation1 {
  z-index: 1;
  position: relative;
  margin-left: 96px;
}
.animation2 {
  margin-top: -73px;
  margin-left: 88px;
  z-index: 0;
  position: relative;
}
.animation3 {
  margin-left: 91px;
  z-index: 1;
  margin-top: -5px;
  position: relative;
}
.animation4 {
  margin-left: 70px;
  margin-top: -76px;
  z-index: 0;
  position: relative;
}
