.mainnv {
  background-color: rgba(0, 0, 0, 0.7) !important;
}
.mainnv .nav-link {
  font-size: 14px;
  font-weight: 500;
  color: #fff !important;
  text-transform: uppercase;
}
.mainnv .text-yellow {
  color: #f99b39 !important;
}
.align-right {
  justify-content: flex-end;
}
.mainnv ul {
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .mainnv a {
    display: block !important;
    margin: auto !important;
  }
  .mainnv img {
    display: block;
    margin: auto;
    max-width: 100%;
  }
  .mainnv ul {
    align-items: center;
    margin: auto;
    padding: 0;
  }
  .mx-auto {
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  .mx-auto a {
    display: inline-block !important;
  }
}
