.mainnv .navbar {
  padding-left: 0px;
  padding-right: 0px;
}

.mainnv {
  position: absolute;
  top: 15px;
  left: 0px;
  z-index: 9;
  width: 100%;
}
.mainnv .nav-link {
  font-size: 14px;
  font-weight: 500;
  color: #fff !important;
  text-transform: uppercase;
  font-family: "bebas_neuebold";
}
.mainnv .text-yellow {
  color: #f99b39 !important;
}
.align-right {
  justify-content: flex-end;
}
.mainnv ul {
  align-items: center;
}

.navbar-nav .nav-link {
  margin-right: 20px;
}
.navbar-nav .nav-link:last-child {
  margin-right: 0px;
}
@media only screen and (max-width: 991px) {
  .mainnv a {
    display: block !important;
    margin: auto !important;
  }
  .mainnv img {
    display: block;
    margin: auto;
    max-width: 100%;
  }
  .mainnv ul {
    align-items: center;
    margin: auto;
    padding: 0px;
  }
  .mx-auto {
    text-align: center;
  }
}

@media (max-width: 991px) and (min-width: 1px) {
  .navbar-light .navbar-toggler {
    background: #fff;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-collapse {
    background: #fe8f01 !important;
  }
  .partner-inkbxrht h3 {
    font-size: 18px;
  }
  .navbar-collapse .text-yellow {
    color: #fff;
  }
}

@media only screen and (max-width: 479px) {
  .navbar-light .navbar-toggler {
    background: #fff;
  }
}
