body {
  font-family: "Open Sans", sans-serif;
}
* {
  box-sizing: border-box;
}

.mainnv {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9;
  width: 100%;
}
.mainnv .nav-link {
  font-size: 14px;
  font-weight: 500;
  color: #fff !important;
  text-transform: uppercase;
}
.mainnv .text-yellow {
  color: #f99b39 !important;
}
.align-right {
  justify-content: flex-end;
}
.mainnv ul {
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .mainnv a {
    display: block !important;
    margin: auto !important;
  }
  .mainnv img {
    display: block;
    margin: auto;
    max-width: 100%;
  }
  .mainnv ul {
    align-items: center;
    margin: auto;
    padding: 0px;
  }
  .mx-auto {
    text-align: center;
  }
  .navbar-collapse {
    background: #000;
    padding-bottom: 20px;
  }

  .mainnv {
    z-index: 9999;
  }

  .orage-info {
    top: 55px !important;
    height: auto !important;
  }
  .banner-section h2 {
    font-size: 40px !important;
  }
  .banner-section {
    padding-top: 176px;
    padding-bottom: 10px;
  }
}

@media only screen and (min-width: 992px) {
  .mainnv .nav-link.login-button {
    margin-left: 10px;
  }

  .mx-auto a {
    display: inline-block !important;
  }
}
.banner-section {
  background: url("/images/banner-bg.jpg") no-repeat left center;
  background-size: cover;
  padding-top: 190px;
  position: relative;
  padding-bottom: 300px;
}
.search-box {
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;

  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

.search-sec {
  padding: 0px 10px;
}
.search-slt {
  display: block;
  width: 100%;
  font-size: 25px;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
}
.search-slt:focus {
  box-shadow: none;
  border-color: #ccc;
}
.orage-info {
  top: 112px;
  padding: 5px 0px;
  position: absolute;
  background-color: #ff9429;
  width: 100%;
  z-index: 9225;
  line-height: 21px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}

.wrn-btn {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
}
.banner-section h2,
.banner-section h3 {
  color: #fff;
}
.banner-section h2 {
  font-family: Amatic SC, Arial, Helvetica, FreeSans, Nimbus Sans L;
  font-size: 82px;
  line-height: 1em;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
  margin-bottom: 10px;
}
.banner-section h3 {
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
}
.icon-img {
  background-repeat: no-repeat;
  background-size: 26px;
  background-color: #fff;
  width: 52px;
  height: 52px;
  border-radius: 26px;
  background-position: 50%;
  margin: 0 auto 25px;
}
.icon-grid h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.5px;
  font-weight: 800;
  color: #fff;
}
.banner-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 35px 0;
}

.icon-1 {
  background-image: url(/images/step-map.min.svg);
}
.icon-2 {
  background-image: url(/images/step-order.min.svg);
  background-repeat: no-repeat;
  background-size: 29px;
  background-position: center 13px;
}
.icon-3 {
  background-image: url(/images/step-pay.min.svg);
  background-repeat: no-repeat;
  background-size: 26px 31px;
}
.icon-4 {
  background-image: url(/images/step-enjoy.min.svg);
  background-repeat: no-repeat;
  background-size: 32px 25px;
}

.navbar-light .navbar-toggler {
  color: #fff;
  border-color: #fff;
  background: #fff;
}

#myModal {
  max-width: 700px;
  left: 0px;
  right: 0px;
  padding: 0px !important;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  #myModal {
    max-width: 700px !important;
    left: 0px;
    right: 0px;
    padding: 0px !important;
  }
}

@media only screen and (max-width: 768px) {
  .mobi-hide {
    display: none;
  }
  .wid-10 {
    white-space: nowrap;
  }
  .bt-gray {
    width: 30px;
    height: 30px;
    line-height: 35px;
    font-size: 18px;
  }

  .mob-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .pos-content span {
    font-size: 25px !important;
  }
  .pos-content h3:after {
    width: 44%;
    height: 66%;
  }
  .banner-bottomcnt h2 {
    font-size: 13px !important;
  }

  .navbar-collapse {
    background: #000;
    padding-bottom: 20px;
  }

  .mainnv {
    z-index: 9999;
  }

  .orage-info {
    top: 55px;
    height: auto;
  }
  .banner-section h2 {
    font-size: 40px;
  }
  .banner-section {
    padding-top: 176px;
    padding-bottom: 10px;
  }
  .banner-bottom {
    position: static;
    margin-top: 20px;
  }
  .search-slt {
    margin-bottom: 8px;
  }

  .icon-grid h4 {
    font-size: 12px;
  }
  .icon-grid {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .search-slt {
    margin-bottom: 0px;
  }
}
.mainnv .nav-link.login-button {
  background-color: #fff;
  width: 160px;
  color: #ee2638 !important;
  background-size: 11px 6px;
  display: inline-block;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 30px;
  height: 30px;
  border-radius: 15px;
  padding: 0 15px;
  text-align: center;
}
.mainnv .nav-link.login-button:hover {
  background-color: #ff9429 !important;
  color: #fff !important;
}

.tab-menu ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  white-space: nowrap;
  overflow: auto;
}
.tab-menu ul li {
  display: inline-block;
  margin-right: 4px;
  text-align: center;
  vertical-align: top;
}
.tab-menu ul li a {
  text-align: center;
  color: #ee2638;
  background: transparent;
  font-weight: 700;
  font-size: 11px;
  display: block;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.tab-menu ul li a:hover {
  background: #fff;
}

.tab-menu ul li a img {
  margin-top: 8px;
}

.tab-menu ul li:last-child a img {
  margin-top: 29px;
}
.check-list li input {
  display: none;
}
.check-list .checkbox {
  margin-top: 0px;
}

.main-container {
  padding: 30px 0px;
  background-color: #f5f5f5;
}
.graybox {
  padding: 25px;
  background-color: #ebebeb;
  border-radius: 3px;
}
.whitebox {
  padding: 25px;
  background-color: #fff;
  border-radius: 3px;
}

.more-button {
  color: #ee2638;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
}
.more-button:hover {
  color: #ee2638;
}

.menu-btn {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-weight: 700;
  border-radius: 3px;
  background-position: calc(100% - 10px) 50%;
  background-color: #4ab981;
  color: #fff;
  height: 34px;
  line-height: 34px;
  width: 150px;
  transition: all 0.25s;
}
.menu-btn:hover {
  color: #fff;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.discount {
  text-align: center;
  font-size: 25px;
  margin-top: 50px;
}
.product-infobx {
  display: block;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 3px;
  background-color: #fff;
  color: #292929;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #e3e3e3;
  position: relative;
  text-decoration: none;
}
.product-infobx:hover {
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.product-infoleft {
  width: 20%;
  float: left;
}
.product-infocenter {
  width: 55%;
  float: left;
  padding-left: 15px;
}
.product-inforight {
  width: 25%;
  float: left;
}
.clear {
  clear: both;
}
.product-infoleft img {
  width: 100%;
}
.tab-menu {
  margin-bottom: 20px;
}
.info-list li {
  float: left;
  width: 28%;
  margin-right: 15px;
  padding-right: 10px;
  border-right: 1px solid #e3e3e3;
}
.info-list li:last-child {
  border: none;
}
.info-list li h5 {
  color: #777;
  text-transform: uppercase;
  margin-bottom: 3px;
  font-size: 11px;
  line-height: 16px;
}
.info-list li h6 {
  color: #292929;
  font-size: 11px;
}

.graybox-heading {
  padding-bottom: 15px;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 30px;
  color: #232323;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 17px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
}

.graybox-body,
.graybox-body ul li {
  margin-bottom: 8px;
}

.graybox-body,
.graybox-body ul li a {
  color: #232323;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.check-list li {
  margin-bottom: 15px !important;
}
.checkbox,
.radio {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.check-list .checkbox input[type="checkbox"] {
  opacity: 0;
}
.check-list .checkbox label {
  display: block;
  position: relative;
  padding-left: 15px;
}
.check-list .checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #d3d3d3;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  top: 4px;
}
.extra-optional {
  font-size: 12px;
  margin-top: 9px;
}
.check-list .checkbox input[type="checkbox"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";
}
.check-list .checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 4px;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.product-infobx h4 {
  color: #292929;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin-bottom: 5px;
}
.chip {
  display: inline-flex;
  flex-direction: row;
  background-color: #e5e5e5;
  border: none;
  cursor: default;
  height: 36px;
  outline: none;
  padding: 7px 15px 7px 10px;
  font-size: 14px;
  font-color: #333333;
  font-family: "Open Sans", sans-serif;
  white-space: nowrap;
  align-items: center;
  border-radius: 16px;
  vertical-align: middle;
  text-decoration: none;
  justify-content: center;
}
.chip-head {
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: #32c5d2;
  font-size: 1.25rem;
  flex-shrink: 0;
  align-items: center;
  user-select: none;
  border-radius: 50%;
  justify-content: center;
  width: 36px;
  color: #fff;
  height: 36px;
  font-size: 20px;
  margin-right: -4px;
}
.chip-content {
  cursor: inherit;
  display: flex;
  align-items: center;
  user-select: none;
  white-space: nowrap;
  padding-left: 12px;
  padding-right: 12px;
}
.chip-svg {
  color: #999999;
  cursor: pointer;
  height: auto;
  margin: 4px 4px 0 -8px;
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 24px;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  user-select: none;
  flex-shrink: 0;
}
.chip-svg:hover {
  color: #666666;
}

* {
  box-sizing: border-box;
}

form.example {
  border: 2px solid #e3e3e3;
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: none;
  float: left;
  width: 55%;
  background: #e3e3e3;
}
.info-box {
  width: 33%;
  padding: 10px 10px 11px;
  background: #e3e3e3;
  float: left;
}
.product-search .dropdown {
  text-align: right;
  width: 100%;
}
.product-search .btn-primary {
  color: #333;
  padding: 10px;
  background: #e3e3e3;
  border-color: #e3e3e3;
  width: 100%;
  border-radius: 0px;
  text-align: left;
}
.product-search {
  margin-bottom: 20px;
}
.product-search .dropdown-toggle::after {
  vertical-align: 2px;
  position: absolute;
  right: 20px;
  top: 22px;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #333;
  background-color: #e3e3e3;
  border-color: transparent;
  box-shadow: none !important;
  outline: none;
}

.product-search .dropdown-menu li {
  border-bottom: 1px solid #f5f5f5;
  padding: 5px 0px;
}
.product-search .dropdown-menu li:last-child {
  border: none;
}
.product-search .dropdown-menu li a {
  display: block;
  padding: 0px 10px;
  color: #333;
  font-size: 13px;
  font-weight: 600;
}
.product-search .col-md-3 {
  padding-left: 0px;
  padding-right: 0px;
}

.info-box span {
  display: inline-block;
}
form.example button {
  float: left;
  width: 12%;
  padding: 10px;
  background: #4ab981;
  color: white;
  font-size: 17px;
  border: none;
  border-left: none;
  cursor: pointer;
}
form.example input[type="text"]:focus {
  border: none;
  outline: none;
}
form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (max-width: 991px) {
  .menu-btn {
    float: left;
    width: 60%;
  }
  .discount {
    float: right;
    width: 40%;
    margin-top: 0px;
  }
  .product-inforight {
    clear: both;
  }

  .info-box {
    width: 100%;
    float: none;
    clear: both;
  }
  form.example input[type="text"] {
    border: none;
    width: 88%;
  }

  .product-search .col-md-3 {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
  }
  .product-infocenter {
    padding-left: 0px;
  }
  .product-inforight {
    margin-top: 20px;
  }
  .product-infocenter {
    padding-top: 10px;
  }

  .product-infoleft,
  .product-infocenter,
  .product-inforight {
    width: 100%;
    float: none;
  }
}

@media only screen and (max-width: 479px) {
  .info-box {
    width: 100%;
    float: none;
    clear: both;
  }
  form.example input[type="text"] {
    border: none;
    width: 88%;
  }
  .product-search .col-md-3 {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
  }
  .product-infocenter {
    padding-left: 0px;
  }
  .product-inforight {
    margin-top: 20px;
  }
  .product-infocenter {
    padding-top: 10px;
  }

  .product-infoleft,
  .product-infocenter,
  .product-inforight {
    width: 100%;
    float: none;
  }
}

/*Radio box*/

input[type="radio"] + .label-text:before {
  content: "\f10c";
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  display: inline-block;
  margin-right: 5px;
}

input[type="radio"]:checked + .label-text:before {
  content: "\f192";
  color: #8e44ad;
  animation: effect 250ms ease-in;
  font-size: 24px;
  top: 2px;
  position: relative;
}

input[type="radio"]:disabled + .label-text {
  color: #aaa;
}

input[type="radio"]:disabled + .label-text:before {
  content: "\f111";
  color: #ccc;
}

/*Radio Toggle*/

.toggle input[type="radio"] + .label-text:before {
  content: "\f204";
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  display: inline-block;
  margin-right: 10px;
}

.toggle input[type="radio"]:checked + .label-text:before {
  content: "\f205";
  color: #16a085;
  animation: effect 250ms ease-in;
}

.toggle input[type="radio"]:disabled + .label-text {
  color: #aaa;
}

.toggle input[type="radio"]:disabled + .label-text:before {
  content: "\f204";
  color: #ccc;
}
.form-check input {
  display: none;
}
.form-check {
  padding-left: 0px !important;
}
@keyframes effect {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1.3);
  }
  75% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
.product-infobx {
  border-top: 2px solid #e3e3e3;
  border-bottom: 2px solid #e3e3e3;
}
.page-header h2 {
  font-size: 22px;
  line-height: 26px;
  font-weight: 800;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #292929;
}
.page-header {
}

#custom-search-input {
  margin: 0;

  padding: 0;
}
#custom-search-input input:focus,
#custom-search-input .btn-danger:focus {
  box-shadow: none !important;
  outline: none;
}
#custom-search-input {
  border: none;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#custom-search-input button {
  border: 0;
  margin-top: 2px;
  position: relative;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.search-query:focus + button {
  z-index: 3;
}

.check-list li label {
  font-size: 17px;
}
#custom-search-input .btn-danger {
  height: 42px;
  margin-top: 0px;
}

#custom-search-input input {
  height: 42px;
}

.incre-box {
  border: 1px solid #4ab981;
}
.incre-left {
  float: left;
  height: 38px;
  width: 70%;
  line-height: 38px;
  padding: 0px 6px;
}
.incre-right {
  float: right;
  height: 38px;
  width: 30%;
}
.incre-right {
  background: #4ab981;
  line-height: 38px;
  text-align: center;
  padding: 0px 5px;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
}

.btn-gray {
  background-color: #ddd;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-weight: 700;
  border-radius: 3px;
  background-position: calc(100% - 10px) 50%;
  color: #fff;
  line-height: 21px;
  border: none;
}
.cart-box .graybox-heading {
  color: #ee2638;
}
.cart-box {
  border-top: 2px solid #ee2638;
}
.product-infobx a {
  color: #292929;
  display: block;
}
.product-infobx a:hover {
  color: #292929;
  text-decoration: none;
}

#myModal {
  padding-right: 21px;
  width: 100%;
  margin: auto;
  max-width: 900px;
  left: 0px;
  right: 0px;
}
.modal-dialog {
  max-width: initial !important;
}
.bt-gray {
  border: none;
  outline: none;
  width: 38px;
  height: 38px;
  line-height: 38px;
  background: #e3e3e3;
  font-size: 23px;
  color: #333;
}
#myModal .modal-footer {
  justify-content: center;
}
.modal-header {
  background: #dc3d40;
}
.modal-title {
  color: #fff;
}
.modal-desc {
  background: #f5f5f5;
  padding: 15px;
}
#myModal .modal-body {
  padding: 0px;
}
.modal-mainbx {
  padding: 15px;
}
#myModal h4 {
  color: #000;
  font-weight: 600;
}
.wid-10 {
  float: left;
  margin: 0px 5px;
  width: 9%;
}
.wid-70 {
  width: 63%;
  float: left;
  margin: 0px 5px;
}
.modal-header .close {
  color: #fff;
  opacity: 1;
  text-shadow: normal;
}
.modal-footer {
  background: #f5f5f5;
  border: none;
  justify-content: center;
}

.rendel-box {
  border-top: 2px solid #ee2638;
}

.rendel-box .graybox-heading {
  color: #ee2638;
  border: none;
  margin-bottom: 0px;
}

.row-line {
  padding: 10px 0px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}
.product-no {
  width: 5%;
  float: left;
  margin: 0px 5px;
}
.product-name {
  width: 42%;
  float: left;
  margin: 0px 5px;
}
.product-size {
  width: 27%;
  float: left;
  margin: 0px 5px;
}
.product-close {
  width: 8%;
  float: left;
  margin: 0px 5px;
}
.product-row {
  font-size: 14px;
}
.rendel-box .graybox-heading {
  padding: 0px 15px 15px;
}

.rendel-box {
  padding: 15px 0px 0px;
}
.product-row {
  padding: 5px 15px;
  border-bottom: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
}

.product-name p {
  color: #c0c0c0;
  margin-bottom: 0px;
  font-size: 13px;
}

.fizetendo .product-size {
  float: right;
  width: 29%;
}
.fizetendo .product-name {
  width: 59%;
  float: left;
}
.fizetendo .btn-green {
  margin: 15px 0px;
}
.fizetendo .graybox-heading {
  color: #000;
  padding: 10px 15px 15px;
}

.btn-green:hover {
  color: #fff;
}

.btn-red {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-weight: 700;
  border-radius: 3px;
  background-color: #dc3545;
  color: #fff;
  padding: 10px;
  width: 100%;
  display: block;
  transition: all 0.25s;
  border: none;
  word-break: break-all;
}
.btn-green {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-weight: 700;
  border-radius: 3px;
  background-color: #4ab981;
  color: #fff;
  padding: 10px;
  width: 100%;
  display: block;
  transition: all 0.25s;
  border: none;
  word-break: break-all;
}

#myModal .btn-green,
#myModal .btn-red {
  display: inline-block;
  width: auto;
}

/* Joco */
.short-desc {
  font-size: 13px;
}

.search-box {
  font-size: 13px;
}
