#wrapper {
  width: 800px;
  height: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #f8f8f8;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.burger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: bottom;
  animation-name: burger;
  animation-duration: 1.4s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}
.ingredient {
  position: relative;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  animation-duration: 1.4s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}
.topBun {
  width: 512px;
  height: 200px;
  margin-bottom: -8px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='512px' height='201px' viewBox='0 0 512 201' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='burger' fill-rule='nonzero'%3E%3Cg id='upperBun' transform='translate(-0.000000, 0.000000)'%3E%3Cpath d='M256,0 C17.648438,0.0898438 0,157.324219 0,179.589844 C0,191.070312 9.308594,200.378906 20.785156,200.378906 L491.214844,200.378906 C502.691406,200.378906 512,191.070312 512,179.589844 C512,157.324219 494.351562,0.0898438 256,0 Z' id='Path' fill='%23EFA335'%3E%3C/path%3E%3Cpath d='M512,179 C512,178.933594 511.992188,178.863281 511.992188,178.796875 C511.988281,178.648438 511.988281,178.496094 511.984375,178.339844 C511.980469,178.265625 511.980469,178.1875 511.976562,178.113281 C511.972656,177.949219 511.96875,177.785156 511.960938,177.613281 C511.957031,177.535156 511.953125,177.457031 511.953125,177.378906 C511.945312,177.195312 511.9375,177.003906 511.925781,176.808594 C511.925781,176.738281 511.921875,176.671875 511.917969,176.601562 C511.90625,176.371094 511.894531,176.136719 511.878906,175.894531 C511.878906,175.855469 511.875,175.8125 511.871094,175.773438 C511.78125,174.265625 511.640625,172.515625 511.425781,170.554688 C511.425781,170.550781 511.425781,170.546875 511.425781,170.546875 C507.054688,130.375 472.96875,0.0820312 256,0 C245.675781,0.00390625 235.773438,0.308594 226.257812,0.878906 C370.65625,9.527344 423.445312,80.644531 442.339844,131.191406 C450.289062,152.460938 434.386719,175.097656 411.683594,175.097656 L20.785156,175.097656 C12.226562,175.097656 4.878906,169.921875 1.691406,162.527344 C0.363281,170.417969 0,176.394531 0,179.589844 C0,191.070312 9.308594,200.378906 20.785156,200.378906 L491.214844,200.378906 C502.691406,200.378906 512,191.070312 512,179.589844 C512,179.402344 512,179.207031 512,179 Z' id='Path' fill='%23FD8F31'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  animation-name: topBun;
  z-index: 5;
}
.tomato {
  width: 408px;
  height: 56px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='460px' height='59px' viewBox='0 0 460 59' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='burger' transform='translate(-26.000000, -181.000000)' fill-rule='nonzero'%3E%3Cg id='tomato' transform='translate(26.527344, 181.472656)'%3E%3Cpath d='M433.558594,57.625 L25.386718,57.625 C11.367187,57.625 0,46.257813 0,32.238282 L0,9.996094 C0,4.476563 4.472656,0 9.992187,0 L448.953125,0 C454.472656,0 458.945312,4.476563 458.945312,9.996094 L458.945312,32.238282 C458.945312,46.257813 447.578125,57.625 433.558594,57.625 Z' id='Path' fill='%23FC4E51'%3E%3C/path%3E%3Cpath d='M448.953125,0.003906 L399.539062,0.003906 L399.539062,42.230469 C399.539062,50.734375 392.648437,57.625 384.144531,57.625 L433.558594,57.625 C447.578125,57.625 458.945312,46.257813 458.945312,32.238282 L458.945312,9.996094 C458.945312,4.476563 454.472656,0.003906 448.953125,0.003906 L448.953125,0.003906 Z' id='Path' fill='%23EA3942'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  animation-name: tomato;
  z-index: 2;
}
.cheese {
  width: 480px;
  height: 80px;
  margin-bottom: -56px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='488px' height='84px' viewBox='0 0 488 84' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='burger' transform='translate(-12.000000, -234.000000)' fill-rule='nonzero'%3E%3Cg id='cheese' transform='translate(12.246893, 234.273438)'%3E%3Cpath d='M469.276545,-1.42108547e-14 L18.7062317,-1.42108547e-14 C8.49138766,-1.42108547e-14 -0.188299342,8.359374 0,18.574218 C0.190606658,28.484374 8.27654466,36.457031 18.2296687,36.457031 L304.507013,36.457031 C309.159357,36.457031 313.655451,38.117187 317.186701,41.144531 L357.815607,75.957031 C369.682795,86.125 387.401545,85.363281 398.350763,74.214843 L429.721857,42.285156 C433.385919,38.554687 438.393732,36.457031 443.620295,36.457031 L468.799982,36.457031 C479.018732,36.457031 487.694513,28.09375 487.506215,17.878906 C487.315607,7.972656 479.229669,-1.42108547e-14 469.276545,-1.42108547e-14 L469.276545,-1.42108547e-14 Z' id='Path' fill='%23FCCF3F'%3E%3C/path%3E%3Cpath d='M469.276545,-1.42108547e-14 L428.007013,-1.42108547e-14 L428.007013,44.03125 L429.717951,42.285156 C433.382013,38.554687 438.393732,36.457031 443.620295,36.457031 L468.799982,36.457031 C479.014826,36.457031 487.694513,28.09375 487.503107,17.878906 C487.315607,7.972656 479.229669,-1.42108547e-14 469.276545,-1.42108547e-14 L469.276545,-1.42108547e-14 Z' id='Path' fill='%23EFC03C'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  animation-name: cheese;
  z-index: 4;
}
.lettuce {
  width: 488px;
  height: 52px;
  margin-bottom: -16px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='492px' height='53px' viewBox='0 0 492 53' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='burger' transform='translate(-10.000000, -265.000000)' fill-rule='nonzero'%3E%3Cg id='lettuce' transform='translate(10.175773, 265.558594)'%3E%3Cpath d='M467.078133,0 C480.296883,0 491.437508,10.980468 491.449232,24.761718 C491.460946,44.445312 469.023446,54.859375 442.957039,51.042968 C418.609383,47.480468 418.300789,36.28125 393.648446,36.28125 C368.992196,36.28125 368.992196,51.042968 344.339852,51.042968 C319.683602,51.042968 319.683602,36.28125 295.031258,36.28125 C270.378915,36.28125 270.378915,51.042968 245.722665,51.042968 C221.070321,51.042968 221.070321,36.28125 196.414071,36.28125 C171.761727,36.28125 171.761727,51.042968 147.109383,51.042968 C122.453133,51.042968 122.453133,36.28125 97.7968832,36.28125 C73.1445392,36.28125 72.8359462,47.480468 48.4882892,51.042968 C22.4218832,54.859375 -0.0156168442,44.445312 0,24.761718 C0.0078211558,10.980468 11.1523522,0 24.3711022,0 L467.078133,0 Z' id='Path' fill='%23A0E557'%3E%3C/path%3E%3Cpath d='M491.449232,24.761718 C491.437508,10.980468 480.296883,0 467.078133,0 L430.078133,0 L430.078133,47.859375 C433.578133,49.152344 437.707039,50.277344 442.957039,51.042968 C469.023446,54.859375 491.460946,44.445312 491.449232,24.761718 L491.449232,24.761718 Z' id='Path' fill='%2393CC4A'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  animation-name: lettuce;
  z-index: 3;
}
.patty {
  width: 464px;
  height: 56px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='460px' height='59px' viewBox='0 0 460 59' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='burger' transform='translate(-26.000000, -295.000000)' fill-rule='nonzero'%3E%3Cg id='patty' transform='translate(26.617188, 295.886719)'%3E%3Cpath d='M433.558593,5.68434189e-14 L25.390624,5.68434189e-14 C11.367187,5.68434189e-14 0,11.367187 0,25.390625 L0,47.632812 C0,53.152343 4.476562,57.625 9.996093,57.625 L448.953124,57.625 C454.472656,57.625 458.949218,53.152343 458.949218,47.632812 L458.949218,25.390625 C458.949218,11.371093 447.582031,5.68434189e-14 433.558593,5.68434189e-14 Z' id='Path' fill='%23912C2C'%3E%3C/path%3E%3Cpath d='M433.558593,-2.84217094e-14 L399.355468,-2.84217094e-14 L399.355468,57.625 L448.953124,57.625 C454.472656,57.625 458.949218,53.148437 458.949218,47.628906 L458.949218,25.390625 C458.949218,11.367187 447.582031,-2.84217094e-14 433.558593,-2.84217094e-14 L433.558593,-2.84217094e-14 Z' id='Path' fill='%237C1E1E'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  animation-name: patty;
  z-index: 1;
}
.bottomBun {
  width: 512px;
  height: 128px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='512px' height='130px' viewBox='0 0 512 130' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='burger' transform='translate(0.000000, -348.000000)' fill-rule='nonzero'%3E%3Cg id='lowerBun' transform='translate(0.000000, 348.394531)'%3E%3Cpath d='M491.214844,0 L20.785156,0 C9.308594,0 0,9.304688 0,20.785157 C0,80.46875 48.382812,128.847657 108.0625,128.847657 L403.9375,128.847657 C463.617188,128.847657 512,80.46875 512,20.789063 C512,9.304688 502.691406,0 491.214844,0 Z' id='Path' fill='%23EFA335'%3E%3C/path%3E%3Cpath d='M491.214844,2.84217094e-14 L452.515625,2.84217094e-14 L452.515625,41.574219 C452.515625,89.777344 413.441406,128.851563 365.238281,128.851563 L403.9375,128.851563 C463.617188,128.847657 512,80.46875 512,20.789063 C512,9.304688 502.691406,2.84217094e-14 491.214844,2.84217094e-14 L491.214844,2.84217094e-14 Z' id='Path' fill='%23FD8F31'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
@keyframes topBun {
  0% {
    transform: translate3d(0, 0, 0);
  }
  20% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -64px, 0) scale(1.05, 0.9) rotate(-2deg);
  }
  60% {
    transform: translate3d(0, 16px, 0);
  }
  70% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes tomato {
  0% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -64px, 0) scale(1.05, 0.9) rotate(-2deg);
  }
  60% {
    transform: translate3d(0, 16px, 0);
  }
  70% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes cheese {
  0% {
    transform: translate3d(0, 0, 0);
  }
  32% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -72px, 0) skew(-5deg) rotate(-3deg);
  }
  60% {
    transform: translate3d(0, 16px, 0);
  }
  70% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes lettuce {
  0% {
    transform: translate3d(0, 0, 0);
  }
  37% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -64px, 0) scale(1.05, 0.9) rotate(-2deg);
  }
  60% {
    transform: translate3d(0, 16px, 0);
  }
  70% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes patty {
  0% {
    transform: translate3d(0, 0, 0);
  }
  42% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -64px, 0) scale(1.05, 0.9) rotate(-2deg);
  }
  60% {
    transform: translate3d(0, 16px, 0);
  }
  70% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes burger {
  0% {
    transform: translate(-50%, -50%);
  }
  60% {
    transform: translate(-50%, -50%);
  }
  65% {
    transform: translate(-50%, -50%) scale(1, 0.8);
  }
  80% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
