<%- include('../includes/head.ejs') %>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
 <%- include('../includes/navigation.ejs') %> 
 


  <main class="body-content">  
    <div class="ms-panel">
        
      <div class="ms-panel">
        <div class="ms-panel-header">
          <h6>FAQ with Gap</h6>

        </div>

        <div class="ms-panel-body">
            <script>
                $(function() {
                  function log( message ) {
                    $( "<div>" ).text( message ).prependTo( "#log" );
                    $( "#log" ).scrollTop( 0 );
                  }
              
                  $( "#city" ).autocomplete({
                    source: function( request, response ) {
                      $.ajax({
                        url: "http://gd.geobytes.com/AutoCompleteCity",
                        dataType: "jsonp",
                        data: {
                          q: request.term
                        },
                        success: function( data ) {
                          response( data );
                        }
                      });
                    },
                    minLength: 3,
                    select: function( event, ui ) {
                      log( ui.item ?
                        "Selected: " + ui.item.label :
                        "Nothing selected, input was " + this.value);
                    },
                    open: function() {
                      $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
                    },
                    close: function() {
                      $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
                    }
                  });
                });
              </script>
        </div>

      </div>

      </div>
  </main>
<%- include('../includes/end.ejs')
  %>
</body>