<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link type="text/css" rel="stylesheet" href="css/product-latest.css" />
  </head>
  <body>
    <div class="mainnv">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light">
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#collapsibleNavbar"
              >
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 col-md-5 col-lg-5">
                  <li class="nav-item active">
                    <a class="nav-link" href="#"
                      >Restaurants <span class="sr-only">(current)</span></a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Subscription</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled text-yellow" href="#"
                      >Download App</a
                    >
                  </li>
                </ul>

                <div class="mx-auto col-md-4 col-lg-5">
                  <a href="#" class="navbar-brand"
                    ><script data-pagespeed-no-defer>
                      //<![CDATA[
                      (function () {
                        for (
                          var g =
                              "function" == typeof Object.defineProperties
                                ? Object.defineProperty
                                : function (b, c, a) {
                                    if (a.get || a.set)
                                      throw new TypeError(
                                        "ES3 does not support getters and setters."
                                      );
                                    b != Array.prototype &&
                                      b != Object.prototype &&
                                      (b[c] = a.value);
                                  },
                            h =
                              "undefined" != typeof window && window === this
                                ? this
                                : "undefined" != typeof global && null != global
                                ? global
                                : this,
                            k = ["String", "prototype", "repeat"],
                            l = 0;
                          l < k.length - 1;
                          l++
                        ) {
                          var m = k[l];
                          m in h || (h[m] = {});
                          h = h[m];
                        }
                        var n = k[k.length - 1],
                          p = h[n],
                          q = p
                            ? p
                            : function (b) {
                                var c;
                                if (null == this)
                                  throw new TypeError(
                                    "The 'this' value for String.prototype.repeat must not be null or undefined"
                                  );
                                c = this + "";
                                if (0 > b || 1342177279 < b)
                                  throw new RangeError("Invalid count value");
                                b |= 0;
                                for (var a = ""; b; )
                                  if ((b & 1 && (a += c), (b >>>= 1))) c += c;
                                return a;
                              };
                        q != p &&
                          null != q &&
                          g(h, n, { configurable: !0, writable: !0, value: q });
                        var t = this;
                        function u(b, c) {
                          var a = b.split("."),
                            d = t;
                          a[0] in d ||
                            !d.execScript ||
                            d.execScript("var " + a[0]);
                          for (var e; a.length && (e = a.shift()); )
                            a.length || void 0 === c
                              ? d[e]
                                ? (d = d[e])
                                : (d = d[e] = {})
                              : (d[e] = c);
                        }
                        function v(b) {
                          var c = b.length;
                          if (0 < c) {
                            for (var a = Array(c), d = 0; d < c; d++)
                              a[d] = b[d];
                            return a;
                          }
                          return [];
                        }
                        function w(b) {
                          var c = window;
                          if (c.addEventListener)
                            c.addEventListener("load", b, !1);
                          else if (c.attachEvent) c.attachEvent("onload", b);
                          else {
                            var a = c.onload;
                            c.onload = function () {
                              b.call(this);
                              a && a.call(this);
                            };
                          }
                        }
                        var x;
                        function y(b, c, a, d, e) {
                          this.h = b;
                          this.j = c;
                          this.l = a;
                          this.f = e;
                          this.g = {
                            height:
                              window.innerHeight ||
                              document.documentElement.clientHeight ||
                              document.body.clientHeight,
                            width:
                              window.innerWidth ||
                              document.documentElement.clientWidth ||
                              document.body.clientWidth,
                          };
                          this.i = d;
                          this.b = {};
                          this.a = [];
                          this.c = {};
                        }
                        function z(b, c) {
                          var a,
                            d,
                            e = c.getAttribute("data-pagespeed-url-hash");
                          if ((a = e && !(e in b.c)))
                            if (0 >= c.offsetWidth && 0 >= c.offsetHeight)
                              a = !1;
                            else {
                              d = c.getBoundingClientRect();
                              var f = document.body;
                              a =
                                d.top +
                                ("pageYOffset" in window
                                  ? window.pageYOffset
                                  : (
                                      document.documentElement ||
                                      f.parentNode ||
                                      f
                                    ).scrollTop);
                              d =
                                d.left +
                                ("pageXOffset" in window
                                  ? window.pageXOffset
                                  : (
                                      document.documentElement ||
                                      f.parentNode ||
                                      f
                                    ).scrollLeft);
                              f = a.toString() + "," + d;
                              b.b.hasOwnProperty(f)
                                ? (a = !1)
                                : ((b.b[f] = !0),
                                  (a = a <= b.g.height && d <= b.g.width));
                            }
                          a && (b.a.push(e), (b.c[e] = !0));
                        }
                        y.prototype.checkImageForCriticality = function (b) {
                          b.getBoundingClientRect && z(this, b);
                        };
                        u(
                          "pagespeed.CriticalImages.checkImageForCriticality",
                          function (b) {
                            x.checkImageForCriticality(b);
                          }
                        );
                        u(
                          "pagespeed.CriticalImages.checkCriticalImages",
                          function () {
                            A(x);
                          }
                        );
                        function A(b) {
                          b.b = {};
                          for (
                            var c = ["IMG", "INPUT"], a = [], d = 0;
                            d < c.length;
                            ++d
                          )
                            a = a.concat(
                              v(document.getElementsByTagName(c[d]))
                            );
                          if (a.length && a[0].getBoundingClientRect) {
                            for (d = 0; (c = a[d]); ++d) z(b, c);
                            a = "oh=" + b.l;
                            b.f && (a += "&n=" + b.f);
                            if ((c = !!b.a.length))
                              for (
                                a += "&ci=" + encodeURIComponent(b.a[0]), d = 1;
                                d < b.a.length;
                                ++d
                              ) {
                                var e = "," + encodeURIComponent(b.a[d]);
                                131072 >= a.length + e.length && (a += e);
                              }
                            b.i &&
                              ((e =
                                "&rd=" +
                                encodeURIComponent(JSON.stringify(B()))),
                              131072 >= a.length + e.length && (a += e),
                              (c = !0));
                            C = a;
                            if (c) {
                              d = b.h;
                              b = b.j;
                              var f;
                              if (window.XMLHttpRequest)
                                f = new XMLHttpRequest();
                              else if (window.ActiveXObject)
                                try {
                                  f = new ActiveXObject("Msxml2.XMLHTTP");
                                } catch (r) {
                                  try {
                                    f = new ActiveXObject("Microsoft.XMLHTTP");
                                  } catch (D) {}
                                }
                              f &&
                                (f.open(
                                  "POST",
                                  d +
                                    (-1 == d.indexOf("?") ? "?" : "&") +
                                    "url=" +
                                    encodeURIComponent(b)
                                ),
                                f.setRequestHeader(
                                  "Content-Type",
                                  "application/x-www-form-urlencoded"
                                ),
                                f.send(a));
                            }
                          }
                        }
                        function B() {
                          var b = {},
                            c;
                          c = document.getElementsByTagName("IMG");
                          if (!c.length) return {};
                          var a = c[0];
                          if (!("naturalWidth" in a && "naturalHeight" in a))
                            return {};
                          for (var d = 0; (a = c[d]); ++d) {
                            var e = a.getAttribute("data-pagespeed-url-hash");
                            e &&
                              ((!(e in b) &&
                                0 < a.width &&
                                0 < a.height &&
                                0 < a.naturalWidth &&
                                0 < a.naturalHeight) ||
                                (e in b &&
                                  a.width >= b[e].o &&
                                  a.height >= b[e].m)) &&
                              (b[e] = {
                                rw: a.width,
                                rh: a.height,
                                ow: a.naturalWidth,
                                oh: a.naturalHeight,
                              });
                          }
                          return b;
                        }
                        var C = "";
                        u(
                          "pagespeed.CriticalImages.getBeaconData",
                          function () {
                            return C;
                          }
                        );
                        u("pagespeed.CriticalImages.Run", function (
                          b,
                          c,
                          a,
                          d,
                          e,
                          f
                        ) {
                          var r = new y(b, c, a, e, f);
                          x = r;
                          d &&
                            w(function () {
                              window.setTimeout(function () {
                                A(r);
                              }, 0);
                            });
                        });
                      })();
                      pagespeed.CriticalImages.Run(
                        "/mod_pagespeed_beacon",
                        "http://odishaonweb.com/bootstraptemp/product-latest.html",
                        "oG-7lxx8_G",
                        true,
                        false,
                        "pYoDd0NQWQ0"
                      );
                      //]]>
                    </script>
                    <img
                      src="images/logo.png"
                      data-pagespeed-url-hash="2756791279"
                      onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                  /></a>
                  <a class="nav-link text-yellow" href="#">Be my partner</a>
                </div>

                <ul
                  class="navbar-nav ml-auto col-md-3 mt-2 mt-lg-0 align-right col-lg-2"
                >
                  <li class="nav-item">
                    <a class="nav-link" href="#"
                      ><img
                        src="images/profile.png"
                        data-pagespeed-url-hash="3308395939"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                    /></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#"
                      ><img
                        src="images/cart.png"
                        data-pagespeed-url-hash="3060585268"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                    /></a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="banner-section">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="white-radiusbox">
              <img
                src="images/rexo.png"
                data-pagespeed-url-hash="360888410"
                onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
              />
            </div>
          </div>
          <div class="col-md-9">
            <h2 class="text-yellow">CE DELICII DELIVERY</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
              amet,consectetuer Lorem ipsum dolor. consectetuer adipiscing elit.
            </p>
            <ul class="info-list">
              <li>
                <img
                  src="images/icon-1.png"
                  data-pagespeed-url-hash="367950097"
                  onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                />12:00 - 22:00
              </li>
              <li>
                <img
                  src="images/icon-2.png"
                  data-pagespeed-url-hash="662450018"
                  onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                />10-15 min
              </li>
              <li>
                <img
                  src="images/icon-3.png"
                  data-pagespeed-url-hash="956949939"
                  onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                />25 RON+
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="margtp50">
        <svg
          id="Layer_1"
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1920 142.75"
        >
          <defs>
            <style>
              .cls-1 {
                fill: #fd8f00;
              }
            </style>
          </defs>
          <title>svg wave</title>
          <path
            class="cls-1"
            d="M0,137.06S348.25,28.6,901.44,82.78,1920,22.81,1920,22.81V165.56H0Z"
            transform="translate(0 -22.81)"
          />
        </svg>
      </div>
    </div>
    <!-- product-section Starts -->
    <div class="product-section partner-ink black-yellow">
      <div class="container">
        <div class="row">
          <div class="col-md-10 mx-auto">
            <div class="search-box">
              <div class="main">
                <div class="row">
                  <div class="col-md-6">
                    <h2 class="text-white">KÍnálatunk</h2>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <div class="input-group-append">
                        <button class="btn btn-secondary" type="button">
                          <img
                            src="images/search-icon.png"
                            data-pagespeed-url-hash="2785407052"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                          />
                        </button>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="KERESÉS..."
                      />
                    </div>
                  </div>
                  <!-- Another variation with a button -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-main">
          <div class="row">
            <div class="col-1">
              <div class="yellow-graybx">
                <a href="#"
                  ><img
                    src="images/nextrest.png"
                    data-pagespeed-url-hash="177987875"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                /></a>
              </div>
            </div>
            <div class="col-10">
              <div class="yellow-graybx tabbx">
                <a href="#"
                  ><img
                    src="images/kaja1.png"
                    data-pagespeed-url-hash="4255478622"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                /></a>
                <a href="#"
                  ><img
                    src="images/kaja2.png"
                    data-pagespeed-url-hash="255011247"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                /></a>

                <a href="#"
                  ><img
                    src="images/kaja3.png"
                    data-pagespeed-url-hash="549511168"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                /></a>
                <a href="#"
                  ><img
                    src="images/kaja4.png"
                    data-pagespeed-url-hash="844011089"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                /></a>
                <a href="#"
                  ><img
                    src="images/kaja5.png"
                    data-pagespeed-url-hash="1138511010"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                /></a>

                <a href="#"
                  ><img
                    src="images/kaja6.png"
                    data-pagespeed-url-hash="1433010931"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                /></a>
                <a href="#"
                  ><img
                    src="images/kaja7.png"
                    data-pagespeed-url-hash="1727510852"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                /></a>
              </div>
            </div>
            <div class="col-1">
              <div class="yellow-graybx">
                <a href="#"
                  ><img
                    src="images/allergen.png"
                    data-pagespeed-url-hash="2734722546"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                /></a>
              </div>
            </div>
            <!-- Another variation with a button -->
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="row">
              <div class="col-md-6 padding-right">
                <div class="partner-inkbxtp margbtm-15">
                  <div class="partner-inkbx">
                    <div class="partner-inkbxlft">
                      <img
                        src="images/cover.png"
                        data-pagespeed-url-hash="2551680377"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                      />
                    </div>
                    <div class="partner-inkbxrht">
                      <h3>SÜLT POLIPKAROK</h3>
                      <p>
                        Lorem ipsum dolor sit amet, conse-ctetuer adipiscing. SI
                        ipsum dolor sit amet Lorem DOlor Si marto.
                      </p>
                      <ul class="wh-radius">
                        <li><a href="#">gramaj:&nbsp;700g</a></li>
                        <li><a href="#">17.00 RON</a></li>
                      </ul>
                      <ul class="size-list">
                        <li><a href="#">SMALL</a></li>
                        <li><a href="#">MEDIUM</a></li>
                        <li><a href="#">LARGE</a></li>
                        <li>
                          <a href="#"
                            >VÉLEMÉNYEK&nbsp;<img
                              src="images/drop-arrowsm.png"
                              data-pagespeed-url-hash="3202921029"
                              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                          /></a>
                        </li>
                        <li>
                          <a href="#" class="small-cart"
                            ><img
                              src="images/cart-small.png"
                              data-pagespeed-url-hash="1039108254"
                              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                            />KOSÁRBA RAKOM</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="text-center">
                    <a href="#" class="extra-btn">
                      EXTRÁK
                      <img
                        src="images/drop-arrow.png"
                        data-pagespeed-url-hash="1789013247"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                    /></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 padding-right">
                <div class="partner-inkbxtp margbtm-15">
                  <div class="partner-inkbx">
                    <div class="partner-inkbxlft">
                      <img
                        src="images/icon-img-1.png"
                        data-pagespeed-url-hash="1127827679"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                      />
                    </div>
                    <div class="partner-inkbxrht">
                      <h3>PARADICSOMSZENDVICS</h3>
                      <p>
                        Lorem ipsum dolor sit amet, conse-ctetuer adipiscing. SI
                        ipsum dolor sit amet Lorem DOlor Si marto.
                      </p>
                      <ul class="wh-radius">
                        <li><a href="#">gramaj:&nbsp;700g</a></li>
                        <li><a href="#">17.00 RON</a></li>
                      </ul>
                      <ul class="size-list">
                        <li><a href="#">SMALL</a></li>
                        <li><a href="#">MEDIUM</a></li>
                        <li><a href="#">LARGE</a></li>
                        <li>
                          <a href="#"
                            >VÉLEMÉNYEK&nbsp;<img
                              src="images/drop-arrowsm.png"
                              data-pagespeed-url-hash="3202921029"
                              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                          /></a>
                        </li>
                        <li>
                          <a href="#"
                            ><img
                              src="images/cart-small.png"
                              data-pagespeed-url-hash="1039108254"
                              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                            />KOSÁRBA RAKOM</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="text-center">
                    <a href="#" class="extra-btn">
                      EXTRÁK
                      <img
                        src="images/drop-arrow.png"
                        data-pagespeed-url-hash="1789013247"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                    /></a>
                  </div>
                </div>
              </div>

              <div class="col-md-6 padding-right">
                <div class="partner-inkbxtp margbtm-15">
                  <div class="partner-inkbx">
                    <div class="partner-inkbxlft">
                      <img
                        src="images/cover.png"
                        data-pagespeed-url-hash="2551680377"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                      />
                    </div>
                    <div class="partner-inkbxrht">
                      <h3>SÜLT POLIPKAROK</h3>
                      <p>
                        Lorem ipsum dolor sit amet, conse-ctetuer adipiscing. SI
                        ipsum dolor sit amet Lorem DOlor Si marto.
                      </p>
                      <ul class="wh-radius">
                        <li><a href="#">gramaj:&nbsp;700g</a></li>
                        <li><a href="#">17.00 RON</a></li>
                      </ul>
                      <ul class="size-list">
                        <li><a href="#">SMALL</a></li>
                        <li><a href="#">MEDIUM</a></li>
                        <li><a href="#">LARGE</a></li>
                        <li>
                          <a href="#"
                            >VÉLEMÉNYEK&nbsp;<img
                              src="images/drop-arrowsm.png"
                              data-pagespeed-url-hash="3202921029"
                              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                          /></a>
                        </li>
                        <li>
                          <a href="#"
                            ><img
                              src="images/cart-small.png"
                              data-pagespeed-url-hash="1039108254"
                              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                            />KOSÁRBA RAKOM</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="text-center">
                    <ul class="bottom-list tt">
                      <li>
                        <div class="box-c">
                          <img
                            src="images/ico.png"
                            class="img-fluid"
                            data-pagespeed-url-hash="6883419"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                          />
                          <p>LOREM IPSUM <span>+ 12 LEJ</span></p>
                        </div>
                        <div class="box-c">
                          <img
                            src="images/ico.png"
                            class="img-fluid"
                            data-pagespeed-url-hash="6883419"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                          />
                          <p>LOREM IPSUM <span>+ 12 LEJ</span></p>
                        </div>
                      </li>
                      <li>
                        <div class="box-c">
                          <img
                            src="images/ico.png"
                            class="img-fluid"
                            data-pagespeed-url-hash="6883419"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                          />
                          <p>LOREM IPSUM <span>+ 12 LEJ</span></p>
                        </div>
                        <div class="box-c">
                          <img
                            src="images/ico.png"
                            class="img-fluid"
                            data-pagespeed-url-hash="6883419"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                          />
                          <p>LOREM IPSUM <span>+ 12 LEJ</span></p>
                        </div>
                      </li>
                      <li>
                        <div class="box-c">
                          <img
                            src="images/ico.png"
                            class="img-fluid"
                            data-pagespeed-url-hash="6883419"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                          />
                          <p>LOREM IPSUM <span>+ 12 LEJ</span></p>
                        </div>
                        <div class="box-c">
                          <img
                            src="images/ico.png"
                            class="img-fluid"
                            data-pagespeed-url-hash="6883419"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                          />
                          <p>LOREM IPSUM <span>+ 12 LEJ</span></p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6 padding-right">
                <div class="partner-inkbxtp margbtm-15">
                  <div class="partner-inkbx">
                    <div class="partner-inkbxlft">
                      <img
                        src="images/icon-img-1.png"
                        data-pagespeed-url-hash="1127827679"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                      />
                    </div>
                    <div class="partner-inkbxrht">
                      <h3>PARADICSOMSZENDVICS</h3>
                      <p>
                        Lorem ipsum dolor sit amet, conse-ctetuer adipiscing. SI
                        ipsum dolor sit amet Lorem DOlor Si marto.
                      </p>
                      <ul class="wh-radius">
                        <li><a href="#">gramaj:&nbsp;700g</a></li>
                        <li><a href="#">17.00 RON</a></li>
                      </ul>
                      <ul class="size-list">
                        <li><a href="#">SMALL</a></li>
                        <li><a href="#">MEDIUM</a></li>
                        <li><a href="#">LARGE</a></li>
                        <li>
                          <a href="#"
                            >VÉLEMÉNYEK&nbsp;<img
                              src="images/drop-arrowsm.png"
                              data-pagespeed-url-hash="3202921029"
                              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                          /></a>
                        </li>
                        <li>
                          <a href="#"
                            ><img
                              src="images/cart-small.png"
                              data-pagespeed-url-hash="1039108254"
                              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                            />KOSÁRBA RAKOM</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="text-center">
                    <a href="#" class="extra-btn">
                      EXTRÁK
                      <img
                        src="images/drop-arrow.png"
                        data-pagespeed-url-hash="1789013247"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                    /></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 padding-right">
                <div class="partner-inkbxtp margbtm-15">
                  <div class="partner-inkbx">
                    <div class="partner-inkbxlft">
                      <img
                        src="images/cover.png"
                        data-pagespeed-url-hash="2551680377"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                      />
                    </div>
                    <div class="partner-inkbxrht">
                      <h3>SÜLT POLIPKAROK</h3>
                      <p>
                        Lorem ipsum dolor sit amet, conse-ctetuer adipiscing. SI
                        ipsum dolor sit amet Lorem DOlor Si marto.
                      </p>
                      <ul class="wh-radius">
                        <li><a href="#">gramaj:&nbsp;700g</a></li>
                        <li><a href="#">17.00 RON</a></li>
                      </ul>
                      <ul class="size-list">
                        <li><a href="#">SMALL</a></li>
                        <li><a href="#">MEDIUM</a></li>
                        <li><a href="#">LARGE</a></li>
                        <li>
                          <a href="#"
                            >VÉLEMÉNYEK&nbsp;<img
                              src="images/drop-arrowsm.png"
                              data-pagespeed-url-hash="3202921029"
                              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                          /></a>
                        </li>
                        <li>
                          <a href="#"
                            ><img
                              src="images/cart-small.png"
                              data-pagespeed-url-hash="1039108254"
                              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                            />KOSÁRBA RAKOM</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="text-center">
                    <a href="#" class="extra-btn">
                      EXTRÁK
                      <img
                        src="images/drop-arrow.png"
                        data-pagespeed-url-hash="1789013247"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                    /></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 padding-right">
                <div class="partner-inkbxtp margbtm-15">
                  <div class="partner-inkbx">
                    <div class="partner-inkbxlft">
                      <img
                        src="images/icon-img-1.png"
                        data-pagespeed-url-hash="1127827679"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                      />
                    </div>
                    <div class="partner-inkbxrht">
                      <h3>PARADICSOMSZENDVICS</h3>
                      <p>
                        Lorem ipsum dolor sit amet, conse-ctetuer adipiscing. SI
                        ipsum dolor sit amet Lorem DOlor Si marto.
                      </p>
                      <ul class="wh-radius">
                        <li><a href="#">gramaj:&nbsp;700g</a></li>
                        <li><a href="#">17.00 RON</a></li>
                      </ul>
                      <ul class="size-list">
                        <li><a href="#">SMALL</a></li>
                        <li><a href="#">MEDIUM</a></li>
                        <li><a href="#">LARGE</a></li>
                        <li>
                          <a href="#"
                            >VÉLEMÉNYEK&nbsp;<img
                              src="images/drop-arrowsm.png"
                              data-pagespeed-url-hash="3202921029"
                              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                          /></a>
                        </li>
                        <li>
                          <a href="#"
                            ><img
                              src="images/cart-small.png"
                              data-pagespeed-url-hash="1039108254"
                              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                            />KOSÁRBA RAKOM</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="text-center">
                    <a href="#" class="extra-btn">
                      EXTRÁK
                      <img
                        src="images/drop-arrow.png"
                        data-pagespeed-url-hash="1789013247"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                    /></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 padding-right">
                <div class="partner-inkbxtp margbtm-15">
                  <div class="partner-inkbx">
                    <div class="partner-inkbxlft">
                      <img
                        src="images/cover.png"
                        data-pagespeed-url-hash="2551680377"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                      />
                    </div>
                    <div class="partner-inkbxrht">
                      <h3>SÜLT POLIPKAROK</h3>
                      <p>
                        Lorem ipsum dolor sit amet, conse-ctetuer adipiscing. SI
                        ipsum dolor sit amet Lorem DOlor Si marto.
                      </p>
                      <ul class="wh-radius">
                        <li><a href="#">gramaj:&nbsp;700g</a></li>
                        <li><a href="#">17.00 RON</a></li>
                      </ul>
                      <ul class="size-list">
                        <li><a href="#">SMALL</a></li>
                        <li><a href="#">MEDIUM</a></li>
                        <li><a href="#">LARGE</a></li>
                        <li>
                          <a href="#"
                            >VÉLEMÉNYEK&nbsp;<img
                              src="images/drop-arrowsm.png"
                              data-pagespeed-url-hash="3202921029"
                              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                          /></a>
                        </li>
                        <li>
                          <a href="#"
                            ><img
                              src="images/cart-small.png"
                              data-pagespeed-url-hash="1039108254"
                              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                            />KOSÁRBA RAKOM</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="text-center">
                    <ul class="bottom-list tt">
                      <li>
                        <div class="box-c">
                          <img
                            src="images/ico.png"
                            class="img-fluid"
                            data-pagespeed-url-hash="6883419"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                          />
                          <p>LOREM IPSUM <span>+ 12 LEJ</span></p>
                        </div>
                        <div class="box-c">
                          <img
                            src="images/ico.png"
                            class="img-fluid"
                            data-pagespeed-url-hash="6883419"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                          />
                          <p>LOREM IPSUM <span>+ 12 LEJ</span></p>
                        </div>
                      </li>
                      <li>
                        <div class="box-c">
                          <img
                            src="images/ico.png"
                            class="img-fluid"
                            data-pagespeed-url-hash="6883419"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                          />
                          <p>LOREM IPSUM <span>+ 12 LEJ</span></p>
                        </div>
                        <div class="box-c">
                          <img
                            src="images/ico.png"
                            class="img-fluid"
                            data-pagespeed-url-hash="6883419"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                          />
                          <p>LOREM IPSUM <span>+ 12 LEJ</span></p>
                        </div>
                      </li>
                      <li>
                        <div class="box-c">
                          <img
                            src="images/ico.png"
                            class="img-fluid"
                            data-pagespeed-url-hash="6883419"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                          />
                          <p>LOREM IPSUM <span>+ 12 LEJ</span></p>
                        </div>
                        <div class="box-c">
                          <img
                            src="images/ico.png"
                            class="img-fluid"
                            data-pagespeed-url-hash="6883419"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                          />
                          <p>LOREM IPSUM <span>+ 12 LEJ</span></p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6 padding-right">
                <div class="comment-box">
                  <div class="desc-section">
                    <h3>KELEMEN JÁNOS</h3>
                    <p>
                      “Lorem ipsum dolor sit amet, consectetuer adipiscing. SI
                      ipsum dolor sit amet Lorem DOlor Si marto. consectetuer
                      adipiscing. consectetuer adipiscing.”
                    </p>

                    <h3 class="border-head">Jánosi ANITA</h3>
                    <p>
                      “Lorem ipsum dolor sit amet, consectetuer adipiscing. SI
                      ipsum dolor sit amet Lorem DOlor Si marto.”
                    </p>

                    <h3 class="border-head">Jánosi ANITA</h3>
                    <p>
                      “Lorem ipsum dolor sit amet, consectetuer adipiscing. SI
                      ipsum dolor sit amet Lorem DOlor Si marto.”
                    </p>
                  </div>
                  <h3 class="border-head margtp20">BLÉNESI MÁRTON</h3>
                  <textarea rows="3" cols="3" class="form-control"> </textarea>
                  <div class="text-center">
                    <button type="button" class="yel-btn">
                      VÉLEMÉNY ELKÜLDÉSE
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center">
            <a href="#" class="text-white expand-link"
              >TOVÁBBI ÉTTERMEK<img
                src="images/drop-arrow.png"
                data-pagespeed-url-hash="1789013247"
                onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
              />
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- product-section Ends -->

    <div class="piza-section">
      <div>
        <svg
          id="Layer_1"
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1920 142.75"
        >
          <defs>
            <style>
              .cls-1 {
                fill: #fd8f00;
              }
            </style>
          </defs>
          <title>svg wave2</title>
          <path
            class="cls-1"
            d="M1920,28.5S1571.75,137,1018.56,82.78,0,142.75,0,142.75V0H1920Z"
          />
        </svg>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-9 mx-auto">
            <div class="piza-bg">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-12 text-center">
                    <h2 class="text-white babas-regular">
                      SPÓROLJ MEG HAVI 10%-ot!
                    </h2>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <img
                    src="images/home-pizza10.png"
                    data-pagespeed-url-hash="617289433"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                  />
                </div>
                <div class="col-md-6">
                  <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed
                    diam MOLENO MANO ET.
                  </p>
                  <p>
                    ipsum dolor sit amet,consectetuer adipiscing elit,sed diam
                    MOLENO MANO ET.
                  </p>
                  <a href="#" class="btn-yellow">PRÓBÁLD KI!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="black-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="footer-body">
              <h2 class="text-yellow">KÖVESS MINKET:</h2>

              <ul class="footer-social">
                <li>
                  <a href="#"
                    ><i class="fa fa-facebook" aria-hidden="true"></i>
                    /foodnetofﬁcial</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-instagram" aria-hidden="true"></i
                    >@foodnetofﬁcial</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-youtube-play" aria-hidden="true"></i
                    >/foodnetofﬁcial
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="footer-body">
              <h2 class="text-yellow">EGYÉB OLDALAK:</h2>
              <ul class="normal-list">
                <li><a href="#">Termeni și Condiții</a></li>
                <li><a href="#">Politica de conﬁdențialitate</a></li>
                <li><a href="#">Returnare produse</a></li>
                <li><a href="#">Drepturi de autor</a></li>
                <li><a href="#">ANPC</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="footer-bottom text-center">
              <p>©2020-2021 foodnet.ro - Minden jog fenntartva.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
