<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="NOODP" />
    <title></title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="css/custom.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="container">
        <div class="main-column">
          <div class="column1">
            <h2>Új rendelések</h2>
            <div class="sub-column1">
              <div class="inner-sub-column">
                <h4>
                  <p>7F5527C28</p>
                  <span class="arrow"
                    ><img src="images/right-arrow.png"
                  /></span>
                </h4>
                <div class="details">
                  <h3>
                    <label>Erdős József</label> <b>|</b
                    ><label>+40753541070</label>
                  </h3>
                  <p>Székelyudvarhely</p>
                  <p><span>Utca:</span>Körösi Csoma sándor utca</p>
                  <p><span>Házszám:</span>1263/B</p>
                  <p><span>Emelet:</span>2</p>
                  <p><span>Ajtószám:</span>13C</p>
                  <h5
                    onclick="document.getElementById('id01').style.display='block'"
                    class="button black"
                  >
                    Nem kér evőeszközt
                  </h5>
                  <h6>Ár: 25.99 RON</h6>
                </div>
              </div>
              <div class="inner-sub-column">
                <h4>
                  <p>7F5527C28</p>
                  <span class="arrow"
                    ><img src="images/right-arrow.png"
                  /></span>
                </h4>
                <div class="details">
                  <h3>
                    <label>Erdős József</label> <b>|</b
                    ><label>+40753541070</label>
                  </h3>
                  <p>Székelyudvarhely</p>
                  <p><span>Utca:</span>Körösi Csoma sándor utca</p>
                  <p><span>Házszám:</span>1263/B</p>
                  <p><span>Emelet:</span>2</p>
                  <p><span>Ajtószám:</span>13C</p>
                  <h5
                    onclick="document.getElementById('id01').style.display='block'"
                    class="button black"
                  >
                    Nem kér evőeszközt
                  </h5>
                  <h6>Ár: 25.99 RON</h6>
                </div>
              </div>
              <div class="inner-sub-column">
                <h4>
                  <p>7F5527C28</p>
                  <span class="arrow"
                    ><img src="images/right-arrow.png"
                  /></span>
                </h4>
                <div class="details">
                  <h3>
                    <label>Erdős József</label> <b>|</b
                    ><label>+40753541070</label>
                  </h3>
                  <p>Székelyudvarhely</p>
                  <p><span>Utca:</span>Körösi Csoma sándor utca</p>
                  <p><span>Házszám:</span>1263/B</p>
                  <p><span>Emelet:</span>2</p>
                  <p><span>Ajtószám:</span>13C</p>
                  <h6>Ár: 25.99 RON</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="column1">
            <h2>Felvett rendelések</h2>
            <div class="sub-column2">
              <div class="inner-sub-column">
                <h4>
                  <p>7F5527C28</p>
                  <span class="arrow"
                    ><img src="images/right-arrow.png"
                  /></span>
                </h4>
                <div class="details">
                  <h3>
                    <label>Erdős József</label> <b>|</b
                    ><label>+40753541070</label>
                  </h3>
                  <p>Székelyudvarhely</p>
                  <p><span>Utca:</span>Körösi Csoma sándor utca</p>
                  <p><span>Házszám:</span>1263/B</p>
                  <p><span>Emelet:</span>2</p>
                  <p><span>Ajtószám:</span>13C</p>
                  <h5>Nem kér evőeszközt</h5>
                  <h6>Ár: 25.99 RON</h6>
                </div>
              </div>
              <div class="inner-sub-column">
                <h4>
                  <p>7F5527C28</p>
                  <span class="arrow"
                    ><img src="images/right-arrow.png"
                  /></span>
                </h4>
                <div class="details">
                  <h3>
                    <label>Erdős József</label> <b>|</b
                    ><label>+40753541070</label>
                  </h3>
                  <p>Székelyudvarhely</p>
                  <p><span>Utca:</span>Körösi Csoma sándor utca</p>
                  <p><span>Házszám:</span>1263/B</p>
                  <p><span>Emelet:</span>2</p>
                  <p><span>Ajtószám:</span>13C</p>
                  <h5>Nem kér evőeszközt</h5>
                  <h6>Ár: 25.99 RON</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="column1">
            <h2>Elkészítve</h2>
            <div class="sub-column3">
              <div class="inner-sub-column">
                <h4>
                  <span class="arrow"><img src="images/left-arrow.png" /></span>
                  <p>7F5527C28</p>
                  <span class="arrow"
                    ><img src="images/right-arrow.png"
                  /></span>
                </h4>
                <div class="details">
                  <h3>
                    <label>Erdős József</label> <b>|</b
                    ><label>+40753541070</label>
                  </h3>
                  <p>Székelyudvarhely</p>
                  <p><span>Utca:</span>Körösi Csoma sándor utca</p>
                  <p><span>Házszám:</span>1263/B</p>
                  <p><span>Emelet:</span>2</p>
                  <p><span>Ajtószám:</span>13C</p>
                  <h5>Nem kér evőeszközt</h5>
                  <h6>Ár: 25.99 RON</h6>
                </div>
              </div>
              <div class="inner-sub-column">
                <h4>
                  <span class="arrow"><img src="images/left-arrow.png" /></span>
                  <p>7F5527C28</p>
                  <span class="arrow"
                    ><img src="images/right-arrow.png"
                  /></span>
                </h4>
                <div class="details">
                  <h3>
                    <label>Erdős József</label> <b>|</b
                    ><label>+40753541070</label>
                  </h3>
                  <p>Székelyudvarhely</p>
                  <p><span>Utca:</span>Körösi Csoma sándor utca</p>
                  <p><span>Házszám:</span>1263/B</p>
                  <p><span>Emelet:</span>2</p>
                  <p><span>Ajtószám:</span>13C</p>
                  <h6>Ár: 25.99 RON</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="column1">
            <h2>Odaadva futárnak</h2>
            <div class="sub-column4">
              <div class="inner-sub-column">
                <h4>
                  <span class="arrow"><img src="images/left-arrow.png" /></span>
                  <p>7F5527C28</p>
                  <span class="arrow"
                    ><img src="images/right-arrow.png"
                  /></span>
                </h4>
                <div class="details">
                  <h3>
                    <label>Erdős József</label> <b>|</b
                    ><label>+40753541070</label>
                  </h3>
                  <p>Székelyudvarhely</p>
                  <p><span>Utca:</span>Körösi Csoma sándor utca</p>
                  <p><span>Házszám:</span>1263/B</p>
                  <p><span>Emelet:</span>2</p>
                  <p><span>Ajtószám:</span>13C</p>
                  <h6>Ár: 25.99 RON</h6>
                </div>
              </div>
              <div class="inner-sub-column">
                <h4>
                  <span class="arrow"><img src="images/left-arrow.png" /></span>
                  <p>7F5527C28</p>
                  <span class="arrow"
                    ><img src="images/right-arrow.png"
                  /></span>
                </h4>
                <div class="details">
                  <h3>
                    <label>Erdős József</label> <b>|</b
                    ><label>+40753541070</label>
                  </h3>
                  <p>Székelyudvarhely</p>
                  <p><span>Utca:</span>Körösi Csoma sándor utca</p>
                  <p><span>Házszám:</span>1263/B</p>
                  <p><span>Emelet:</span>2</p>
                  <p><span>Ajtószám:</span>13C</p>
                  <h6>Ár: 25.99 RON</h6>
                </div>
              </div>
              <div class="inner-sub-column">
                <h4>
                  <span class="arrow"><img src="images/left-arrow.png" /></span>
                  <p>7F5527C28</p>
                  <span class="arrow"
                    ><img src="images/right-arrow.png"
                  /></span>
                </h4>
                <div class="details">
                  <h3>
                    <label>Erdős József</label> <b>|</b
                    ><label>+40753541070</label>
                  </h3>
                  <p>Székelyudvarhely</p>
                  <p><span>Utca:</span>Körösi Csoma sándor utca</p>
                  <p><span>Házszám:</span>1263/B</p>
                  <p><span>Emelet:</span>2</p>
                  <p><span>Ajtószám:</span>13C</p>
                  <h6>Ár: 25.99 RON</h6>
                </div>
              </div>
              <div class="inner-sub-column">
                <h4>
                  <span class="arrow"><img src="images/left-arrow.png" /></span>
                  <p>7F5527C28</p>
                  <span class="arrow"
                    ><img src="images/right-arrow.png"
                  /></span>
                </h4>
                <div class="details">
                  <h3>
                    <label>Erdős József</label> <b>|</b
                    ><label>+40753541070</label>
                  </h3>
                  <p>Székelyudvarhely</p>
                  <p><span>Utca:</span>Körösi Csoma sándor utca</p>
                  <p><span>Házszám:</span>1263/B</p>
                  <p><span>Emelet:</span>2</p>
                  <p><span>Ajtószám:</span>13C</p>
                  <h6>Ár: 25.99 RON</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="column1">
            <h2>Kiszállítva</h2>
            <div class="sub-column5">
              <div class="inner-sub-column">
                <h4>
                  <span class="arrow"><img src="images/left-arrow.png" /></span>
                  <p>7F5527C28</p>
                </h4>
                <div class="details">
                  <h3>
                    <label>Erdős József</label> <b>|</b
                    ><label>+40753541070</label>
                  </h3>
                  <p>Székelyudvarhely</p>
                  <p><span>Utca:</span>Körösi Csoma sándor utca</p>
                  <p><span>Házszám:</span>1263/B</p>
                  <p><span>Emelet:</span>2</p>
                  <p><span>Ajtószám:</span>13C</p>
                  <h6>Ár: 25.99 RON</h6>
                </div>
              </div>
              <div class="inner-sub-column">
                <h4>
                  <span class="arrow"><img src="images/left-arrow.png" /></span>
                  <p>7F5527C28</p>
                </h4>
                <div class="details">
                  <h3>
                    <label>Erdős József</label> <b>|</b
                    ><label>+40753541070</label>
                  </h3>
                  <p>Székelyudvarhely</p>
                  <p><span>Utca:</span>Körösi Csoma sándor utca</p>
                  <p><span>Házszám:</span>1263/B</p>
                  <p><span>Emelet:</span>2</p>
                  <p><span>Ajtószám:</span>13C</p>
                  <h6>Ár: 25.99 RON</h6>
                </div>
              </div>
              <div class="inner-sub-column">
                <h4>
                  <span class="arrow"><img src="images/left-arrow.png" /></span>
                  <p>7F5527C28</p>
                </h4>
                <div class="details">
                  <h3>
                    <label>Erdős József</label> <b>|</b
                    ><label>+40753541070</label>
                  </h3>
                  <p>Székelyudvarhely</p>
                  <p><span>Utca:</span>Körösi Csoma sándor utca</p>
                  <p><span>Házszám:</span>1263/B</p>
                  <p><span>Emelet:</span>2</p>
                  <p><span>Ajtószám:</span>13C</p>
                  <h6>Ár: 25.99 RON</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="id01" class="modal">
      <div class="modal-content">
        <div class="mains-contain">
          <span
            onclick="document.getElementById('id01').style.display='none'"
            class="button display-topright"
            >&times;</span
          >
          <h4>Rendelt termékek</h4>
          <table class="tabl1">
            <tr>
              <th>Ételek/extrák</th>
              <th>Db</th>
              <th>Egységár</th>
              <th>Össz ár</th>
            </tr>
            <tr>
              <td>Piept de pui umplut cu cașcaval - 230g</td>
              <td>1</td>
              <td>23.55 RON</td>
              <td>23.55 RON</td>
            </tr>
            <tr>
              <td>
                Tentacule caracatisă la grătar - <span>EXTRA FELTÉT</span>
              </td>
              <td>1</td>
              <td>2 RON</td>
              <td>2 RON</td>
            </tr>
            <tr>
              <td>Megjegyzés a termékhez: Nem kérek rá hagymát!</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
          <table class="tabl1">
            <tr>
              <th>Ételek/extrák</th>
              <th>Db</th>
              <th>Egységár</th>
              <th>Össz ár</th>
            </tr>
            <tr>
              <td>Piept de pui umplut cu cașcaval - 230g</td>
              <td>1</td>
              <td>23.55 RON</td>
              <td>23.55 RON</td>
            </tr>
            <tr>
              <td>
                Tentacule caracatisă la grătar - <span>EXTRA FELTÉT</span>
              </td>
              <td>1</td>
              <td>2 RON</td>
              <td>2 RON</td>
            </tr>
            <tr>
              <td>Csomagolás</td>
              <td>1</td>
              <td>2 RON</td>
              <td>2 RON</td>
            </tr>
          </table>
          <div class="bill-pay"><span>Teljes összeg: 45.79 RON</span></div>
          <div class="customer-details">
            <div class="cus-details1">
              <h4>Rendelés adatai</h4>
              <table>
                <tr>
                  <td><img src="images/c1.png" />Megrendelő neve</td>
                  <td>Erdős József</td>
                </tr>
                <tr>
                  <td><img src="images/c2.png" />Megrendelő neve</td>
                  <td>+40753541070</td>
                </tr>
                <tr>
                  <td><img src="images/c3.png" />Település, utca, házszám</td>
                  <td>Székelyudvarhely, Mihálydeák utca, 1263</td>
                </tr>
                <tr>
                  <td><img src="images/c4.png" />Emelet</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td><img src="images/c5.png" />Ajtószám</td>
                  <td>1/B</td>
                </tr>
                <tr>
                  <td><img src="images/c6.png" /> Megrendelés ideje</td>
                  <td>2021.04.12 21:50:33</td>
                </tr>
              </table>
            </div>
            <div class="cus-details2">
              <h4>Megjegyzés a futárnak</h4>
              <p>
                <b>Megjegyzés a futárnak</b>: simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type s
              </p>
              <h5>Rendelés törlése</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
